<div class="panel text-center">
  <h3 class="text-center">GAME OVER!</h3>
  <br />
	<h3><strong><%= player.name %> - <%= player.jobClass %></strong></h3>
  <br />
  <h4>TOTAL SCORE: <strong><%= roundPlayer.score %></strong></h4>
</div>

<div class="row">
  <div class="small-12 columns text-center">
    <a href="/game">Start Over?</a>
  </div>
</div>
