PICK A CHARACTER

<br />

<form action="/game/start" method="post">
  <label for="playerName">Name</label>
  <input type="text" name="playerName" />

  <br />

  <button type="submit" name="jobClass" value="rescueOperator">Rescue Operator</button>
  <button type="submit" name="jobClass" value="paramedic">Paramedic</button>
  <button type="submit" name="jobClass" value="distributor">Distributor</button>
  <button type="submit" name="jobClass" value="security">Security</button>
</form>