<%- partial('layout_header'); %>
    <title><%= geddy.config.appTitle %></title>
  </head>
  
  <body>
    <div class="row">
      <div class="small-12 columns">
        <h1 class="text-center">RESCUE SQUAD</h1>
        <%- render(); %>
      </div>
    </div>
  </body>
<%- partial('layout_footer'); %>

